*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(rgba(10,20,35,.75),rgba(10,20,35,.75)),
    url("../images/background.jpg");

    background-size:cover;

    background-position:center;

}

.login-container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-card{

    width:420px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.2);

    border-radius:20px;

    padding:40px;

    text-align:center;

    color:white;

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.login-logo{

    width:110px;

    height:110px;

    object-fit:cover;

    border-radius:50%;

    margin-bottom:20px;

}

.login-card h2{

    font-size:32px;

    margin-bottom:10px;

}

.login-card p{

    color:#d5d5d5;

    margin-bottom:25px;

}

.login-card input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    outline:none;

    border-radius:10px;

    font-size:16px;

}

.login-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#14532D;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.login-card button:hover{

    background:#D4AF37;

    color:#111;

}

#error{

    margin-top:18px;

    color:#ff8080;

}